name: Publish to CocoaPods

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    name: Publish to CocoaPods
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check release validity
        run: sh .github/scripts/check-release.sh
      - name: Publish to CocoaPods register
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          pod trunk push  MeiliSearch.podspec
