name: Swift

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:

    runs-on: macos-latest
    env:
      DEVELOPER_DIR: /Applications/Xcode_11.5.app/Contents/Developer

    steps:
    - uses: actions/checkout@v2
    - name: Download and Run  MeiliSearch
      run: curl -L https://install.meilisearch.com | sh && nohup bash -c "./meilisearch & --no-analytics=true --master-key='masterKey'"
    - name: Run tests
      run: swift test -v
