name: Tests

on:
  pull_request:
  push:
    branches:
      - main
  merge_group:

jobs:
  integration_tests:
    # Will not run if the event is a PR to bump-meilisearch-v* (so a pre-release PR)
    # Will still run for each push to bump-meilisearch-v*
    if: github.event_name != 'pull_request' || !startsWith(github.base_ref, 'bump-meilisearch-v')
    name: integration-tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Download the latest stable version of Meilisearch
        run: |
          curl -L https://raw.githubusercontent.com/meilisearch/meilisearch/main/download-latest.sh | sh
          chmod +x meilisearch
      - name: Run Meilisearch
        run: |
          ./meilisearch --master-key=masterKey --no-analytics &
      - name: Run tests
        run: swift test

  linter:
    name: linter-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1

  pod-spec-lint:
    name: pod-spec-lint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run CocoaPods pod linter
        run: pod spec lint

  yaml-lint:
    name: Yaml linting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Yaml lint check
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yml
